<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-block">
			<div class="mv-block__note">
				<span class="mv-block__note-ttl">
					公安系公務員特化のキャリア支援<br>
					民間水準のITスキルが身につく
				</span>
				<p>
					Career support specialized for public security civil servants<br>
					Acquire private-sector level IT skills
				</p>
			</div>
			<div class="mv-block__line">
				<div class="mv-block__line-box">
					<p>
						お気軽に無料の個別相談へお申し込みください。
					</p>
					<a href="" target="_blank">
						無料個別相談申込み
					</a>
				</div>
				<div class="mv-block__line-ct">
					<span class="mv-block__line-ct-ttl">現IT企業社長の元警察官が監修</span>
					<p>
						Supervised by a former police officer who is now the president of an IT company
					</p>
				</div>

			</div>
		</div>
		<h1 class="mv-heading">
			<span class="mv-heading__ttl-01">
				<img src="<%= RELATIVE_PATH %>img/mv-ttl-01.png" alt="TOA BRIGHTER FUTURE">
			</span>
			<span class="mv-heading__ttl-02">
				<img src="<%= RELATIVE_PATH %>img/mv-ttl-02.png" alt="TOA BRIGHTER FUTURE">
			</span>
		</h1>
	</section>
	<section class="sec-concept">
		<h2 class="concept-ttl c-ttl__img--vertical">
			<img src="<%= RELATIVE_PATH %>img/concept-ttl.png" alt="CONCPET">
		</h2>
		<div class="concept-item concept-item--01">
			<img src="<%= RELATIVE_PATH %>img/contact-item-01.png" alt="CONCPET">
		</div>
		<div class="concept-item concept-item--02">
			<img src="<%= RELATIVE_PATH %>img/contact-item-02.png" alt="CONCPET">
		</div>
		<div class="inner">
			<div class="concept-block">
				<h3 class="concept-block__ttl concept-block__ttl--top">
					<span>
						命を懸けた経験を、<br>
						次のキャリアで<br>
						活かそう。
					</span>
				</h3>
				<div class="concept-block__item">
					<div class="concept-block__note">
						<h4 class="concept-block__note-ttl">
							<span class="concept-block__note-number">01</span>
							CONCEPT
						</h4>
						<p>
							I want to support the second careers of police, firefighters, and self-defense personnel who risk their lives to protect the safety of the public.
						</p>
					</div>
					<div class="concept-block__ct">
						<p>
							国民の安全を守るために命を張って働く警察・消防・自衛官のセカンドキャリアを応援したい。
						</p>
						<p>
							<span>GovLetとは</span><br>
							Gov　警察・消防・自衛官などの公務員の皆さまが<br>
							Let　新たな可能性を見出して一歩踏み出すためのキャリアコーチングサービスです。
						</p>
					</div>
					<a href="" class="c-btn__01">
						<span>お問い合わせ</span>
					</a>
				</div>
				<div class="concept-block__item">
					<div class="concept-block__note mbpc-94">
						<h4 class="concept-block__note-ttl">
							<span class="concept-block__note-number">02</span>
							WORRIES
						</h4>
						<p>
							Police・FireDepartment・Toall Self-Defense Forces personnel Such worries Isn't there?
						</p>
					</div>
					<h3 class="concept-block__ttl concept-block__ttl--bottom">
						<span>
							警察・消防<br>
							自衛官の皆さま<br>
							こんなお悩み<br>
							ありませんか？
						</span>
					</h3>
				</div>
			</div>
			<ul class="concept-list js-concept-list">
				<li class="concept-list__item">
					<div class="concept-list__box">
						<div class="concept-list__img">
							<img src="<%= RELATIVE_PATH %>img/concept-img-01.jpg" alt="お金">
						</div>
						<div class="concept-list__ct">
							<ul>
								<li>
									命を張っている割に給料が低い
								</li>
							</ul>
							<span class="concept-list__ct-note c-fc--orange">お金</span>
						</div>
					</div>
				</li>
				<li class="concept-list__item">
					<div class="concept-list__box">
						<div class="concept-list__img">
							<img src="<%= RELATIVE_PATH %>img/concept-img-02.jpg" alt="時間">
						</div>
						<div class="concept-list__ct">
							<ul>
								<li>
									夜勤のある生活にストレスを感じる
								</li>
								<li>
									休日もいつ呼ばれるか分からず気が休まらない
								</li>
							</ul>
							<span class="concept-list__ct-note c-fc--orange">時間</span>
						</div>
					</div>
				</li>
				<li class="concept-list__item">
					<div class="concept-list__box">
						<div class="concept-list__img">
							<img src="<%= RELATIVE_PATH %>img/concept-img-03.jpg" alt="場所">
						</div>
						<div class="concept-list__ct">
							<ul>
								<li>
									勤務地に選択の自由がない
								</li>
								<li>
									居住制限、外出制限があって窮屈に感じる
								</li>
							</ul>
							<span class="concept-list__ct-note c-fc--orange">場所</span>
						</div>
					</div>
				</li>
				<li class="concept-list__item">
					<div class="concept-list__box">
						<div class="concept-list__img">
							<img src="<%= RELATIVE_PATH %>img/concept-img-04.jpg" alt="人間関係">
						</div>
						<div class="concept-list__ct">
							<ul>
								<li>
									タテ社会で上下関係が厳しい
								</li>
								<li>
									昭和的な指導文化に違和感を感じる
								</li>
							</ul>
							<span class="concept-list__ct-note c-fc--orange">人間関係</span>
						</div>
					</div>
				</li>
				<li class="concept-list__item">
					<div class="concept-list__box">
						<div class="concept-list__img">
							<img src="<%= RELATIVE_PATH %>img/concept-img-05.jpg" alt="場所">
						</div>
						<div class="concept-list__ct">
							<ul>
								<li>
									今のスキルは民間職では役に立たないと感じる
								</li>
							</ul>
							<span class="concept-list__ct-note c-fc--orange">仕事面</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-worries">
		<div class="inner">
			<h2 class="c-ttl__img worries-ttl">
				<img src="<%= RELATIVE_PATH %>img/worries-ttl.png" alt="worries">
			</h2>
			<div class="worries-block">
				<div class="worries-block__heading">
					<span class="worries-block__heading-note">
						特に多いお悩みが・・・
					</span>
					<h3 class="worries-block__heading-ttl">
						<span>
							親族を納得させる<br>自信がない
						</span>
					</h3>
				</div>
				<div class="worries-block__ct">
					<img src="<%= RELATIVE_PATH %>img/worries-img.jpg" alt="親族を納得させる自信がない">
					<p>
						公務員の方々が転職を決意する際、親への理解が大事になってきます。しかし、親世代には「安定した公務員」の職業イメージが根強く、その安定性や社会的信用が失われることへの不安が大きいため、「なぜ安定した仕事をやめるのか？」という疑問が頭をよぎり、その不安や戸惑いから子供の転職を素直に受け入れられない方も少なくありません。<br>
						また、自分自身も親への理解を得れるだけの根拠やスキルもないため、中々転職に踏み切れない状況の方々が多いと思います。
					</p>
				</div>
				<div class="worries-block__note">
					そんなお悩みGovLetに<br>お任せください！
				</div>
			</div>
		</div>
	</section>
	<section class="sec-strengths">
		<div class="inner">
			<div class="concept-block concept-block--streng">

				<div class="concept-block__item">
					<div class="concept-block__note concept-block__note--streng">
						<h4 class="concept-block__note-ttl">
							<span class="concept-block__note-number">03</span>
							STRENGTHS
						</h4>
						<p>
							GobLet<br>
							3 reasons to choose us
						</p>
					</div>
					<div class="concept-block__ct concept-block__ct--streng">
						<p class="concept-block__ct-ttl">
							GovLetが<br>
							選ばれる3つの理由
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="streng-list">
			<h2 class="streng-list__ttl c-ttl__img">
				<img src="<%= RELATIVE_PATH %>img/streng-ttl.png" alt="STRENGTHS">
			</h2>
			<div class="streng-list__item streng-list__item--01">
				<div class="inner">
					<div class="streng-block">
						<div class="streng-block__img">
							<img src="<%= RELATIVE_PATH %>img/streng-img-01.png" alt="元警察官が作ってます！">
							<span>元警察官が作ってます！</span>
						</div>
						<div class="streng-block__ct">
							<span class="streng-block__ct-reason">Reason01</span>
							<h3 class="streng-block__ct-ttl">
								転職の苦労を経験した<br>
								元警察官が1から作ったサービス
							</h3>
							<p>
								GovLetは、公安系公務員出身者の転職のハードルの高さや、心理的なお悩みを理解し尽くした、IT業界への転身を成功させた元警察官が、1から作り上げたサービスです。
							</p>
						</div>
						<div class="streng-block__other">
							<img src="<%= RELATIVE_PATH %>img/streng-item-01.png" alt="転職時感じた実体験をもとにサポートいたします！">
							<span>
								転職時感じた実体験を<br>
								もとにサポートいたします！
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="streng-list__item streng-list__item--02">
				<div class="inner">
					<div class="streng-block">
						<div class="streng-block__img">
							<img src="<%= RELATIVE_PATH %>img/streng-img-02.png" alt="ご家族も納得のスキル取得">
							<span>ご家族も納得のスキル取得</span>
						</div>
						<div class="streng-block__ct">
							<span class="streng-block__ct-reason">Reason02</span>
							<h3 class="streng-block__ct-ttl">
								民間企業で即使える<br>
								ビジネススキルの習得
							</h3>
							<p>
								公安系公務員の転職のハードルになるのは、「今までの経験やスキルが、民間企業に通用するのか」という心理的な不安です。【GovLet】では、そんな皆さまがいつでも転職できるよう、民間企業で広く使われるITツールの使い方をはじめ、全てのビジネスパーソンの必須科目と言われるマーケティングの知識など、民間企業で即戦力になれる特別プログラムをご用意しています。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="streng-list__item streng-list__item--03">
				<div class="inner">
					<div class="streng-block">
						<div class="streng-block__img">
							<img src="<%= RELATIVE_PATH %>img/streng-img-03.png" alt="一人で悩まずしっかり相談">
							<span>一人で悩まずしっかり相談</span>
						</div>
						<div class="streng-block__ct">
							<span class="streng-block__ct-reason">Reason03</span>
							<h3 class="streng-block__ct-ttl">
								公安系公務員の可能性を<br>
								最大限引き出すキャリア支援
							</h3>
							<p>
								「民間の会社で自分にどんな仕事ができるのか」<br>
								「これまでの経歴を評価してもらえるのだろうか」<br>
								「民間への転職となると年収が下がらないか不安」<br>
								民間への転職となると様々な疑問が湧いてきますが同僚や上司には相談できないし、1人で頑張るしか…。そんな時に頼りになるのが、【GovLet】のキャリアコーチングサービス。転職の経験のある元公安系公務員が、個別カウンセリングを行います。気軽にご質問できるチャット相談も24時間受付けています。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-voice">
		<div class="inner">
			<div class="concept-block concept-block--voice">
				<h3 class="concept-block__ttl concept-block__ttl--top">
					<span>
						私たちのサービスがどの<br>ようにお役に立てるかを<br>ご確認ください。
					</span>
				</h3>
				<div class="concept-block__item">
					<div class="concept-block__note concept-block__note--voice">
						<h4 class="concept-block__note-ttl">
							<span class="concept-block__note-number">04</span>
							USER'S VOICE
						</h4>
						<p>
							We publish real impressions from actual users.
						</p>
					</div>
					<div class="concept-block__ct concept-block__ct--voice">
						<p class="concept-block__ct-ttl">利用者の声</p>
						<p>
							私たちの転職支援サービスを実際にご利用いただいた方々の声をご紹介しています。「公務員としての経験が活かせる転職先が見つかった」「初めての転職活動でも安心して進められた」など、実際のご利用者のリアルな感想を掲載しています。
						</p>
					</div>
				</div>
			</div>
			<ul class="voice-list js-voice-list">
				<li class="voice-list__item">
					<div class="voice-list__box">
						<div class="voice-list__img">
							<img src="<%= RELATIVE_PATH %>img/voice-img-01.jpg" alt="20代元警察官 IT企業転職">
						</div>
						<div class="voice-list__ct">
							<h3 class="voice-list__ct-ttl">
								20代/<br>
								元警察官 IT企業転職
							</h3>
							<p>
								このサービスに出会って、まさに私のニーズにぴったりだと感じました。
							</p>
						</div>
						<div class="voice-list__detail">
							<p>
								特に印象的だったのが、GoogleワークスペースやZoomの使い方講座。業務で今すぐ活かせる内容ばかりで、本当に助かりました。このサービスがなければ、民間企業での活躍は難しかっただろうと思います。公務員出身者の可能性を最大限引き出してくれる、まさに心強いサポートだと感じています。
							</p>
						</div>
					</div>
				</li>
				<li class="voice-list__item">
					<div class="voice-list__box">
						<div class="voice-list__img">
							<img src="<%= RELATIVE_PATH %>img/voice-img-02.jpg" alt="30代/元消防士 金融業界に転職">
						</div>
						<div class="voice-list__ct">
							<h3 class="voice-list__ct-ttl">
								30代/<br>
								元消防士 金融業界に転職
							</h3>
							<p>
								“利益を生む視点”を学べたことが、何よりの収穫です。
							</p>
						</div>
						<div class="voice-list__detail">
							<p>
								KPI設定や目標達成に向けた計画の立て方は、自分にとって全く新しいスキルでした。<br>
								この講座を通して、民間企業の“考え方”を知ることができたおかげで、新しい環境でも迷わず取り組むことができています。
							</p>
						</div>
					</div>
				</li>
				<li class="voice-list__item">
					<div class="voice-list__box">
						<div class="voice-list__img">
							<img src="<%= RELATIVE_PATH %>img/voice-img-03.jpg" alt="20代/元自衛官 人材業界に転職">
						</div>
						<div class="voice-list__ct">
							<h3 class="voice-list__ct-ttl">
								20代/<br>
								元自衛官 人材業界に転職
							</h3>
							<p>
								生成AIの活用講座が非常に印象的でした。
							</p>
						</div>
						<div class="voice-list__detail">
							<p>
								ChatGPTを使った資料作成やアイデア出しのスピードが格段に上がり、驚きました。<br>
								このサービスがなければ、最新技術を使いこなす自信を持てなかったと思います。<br>
								公務員の経験を土台に、新しいスキルでさらに成長できる心強い支援だと感じました。
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-service">
		<h2 class="service-ttl c-ttl__img--vertical">
			<img src="<%= RELATIVE_PATH %>img/service-ttl.png" alt="SERVICE">
		</h2>
		<div class="inner">
			<div class="concept-block concept-block--service">
				<div class="concept-block__item">
					<div class="concept-block__note concept-block__note--service mbpc-85">
						<h4 class="concept-block__note-ttl">
							<span class="concept-block__note-number">05</span>
							SERVICE
						</h4>
						<p>
							The aim is to bring out the maximum potential of public security officials.
						</p>
					</div>
					<div class="concept-block__ct concept-block__ct--service">
						<p class="concept-block__ct-ttl">サービス内容</p>
						<p>
							GovLetのプログラムは、警察・消防・自衛官の方々のキャリア支援と民間企業で役立つ、IT領域を含むビジネススキルの習得により、公安系公務員の方々の可能性を最大限引き出すことを目的としています。
						</p>
					</div>
				</div>
			</div>
			<ul class="service-list js-service-list">
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/service-img-01.jpg" alt="最先端のIT知識習得">
						</div>
						<div class="service-list__ct">
							<div class="mh">
								<span class="service-list__ct-program">Program01</span>
								<h3 class="service-list__ct-ttl">最先端のIT知識習得</h3>
								<p>
									民間企業の水準に近いIT活用力を身に着ける
								</p>
							</div>
							<p>
								・AIテクノロジーの基礎から活用方法まで<br>
								・民間企業で広く使われるITツール(Googleワークスペース、Zoomなど)の使い方
							</p>
						</div>
					</div>
					<div class="service-list__note">
						<span class="service-list__note-btn">
							期間
						</span>
						<p>
							あなたに合った最適な期間で受講し、確実にスキルを習得できます。
						</p>
					</div>
				</li>
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/service-img-02.jpg" alt="ビジネス基礎知識">
						</div>
						<div class="service-list__ct">
							<div class="mh">
								<span class="service-list__ct-program">Program02</span>
								<h3 class="service-list__ct-ttl">ビジネス基礎知識</h3>
								<p>
									公務員に不足している「モノを売る」というビジネスの根幹の考え方を学ぶ
								</p>
							</div>
							<p>
								・ものが売れるしくみ<br>
								・データ活用手法など、マーケティングの基本概念
							</p>
						</div>
					</div>
					<div class="service-list__note">
						<span class="service-list__note-btn">
							学習方法
						</span>
						<p>
							動画講義とサポートテキスト対象期間中は、お好きな場所で学び放題。
						</p>
					</div>
				</li>
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/service-img-03.jpg" alt="キャリア支援">
						</div>
						<div class="service-list__ct">
							<div class="mh">
								<span class="service-list__ct-program">Program03</span>
								<h3 class="service-list__ct-ttl">キャリア支援</h3>
								<p>
									公務員としての経験とITスキルを活かしたキャリアチェンジの可能性を広げる
								</p>
							</div>
							<p>
								・転職に向けたカウンセリングやネットワーキングの機会提供<br>
								・公務員経験とIT知識を活かした民間企業への円滑な転職支援
							</p>
						</div>
					</div>
					<div class="service-list__note">
						<span class="service-list__note-btn">
							サポート
						</span>
						<p>
							元公務員による個別カウンセリング<br>
							（60分）×3回<br>
							サポート期間中は、24時間いつでもチャット相談が可能です。
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
</main>